<! Doctype HTML>

<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="/static/style/stylesheet.css" type="text/css" media="screen" />
    <title>{% block title %}Flashcard Base{% endblock %}</title>
    <script type="text/javascript">{% block js %}{% endblock %}</script>
</head>
<body>
<div id="base_wrapper">
    <div id="base_header">
        <h1>Flashcards!</h1>
    </div>
    <div id="body_wrapper">
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
